@import "@fontsource/rubik";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background-color: theme(colors.zinc.900);
  color: theme(colors.zinc.300);
}

/* Remove default focus styles */
button:focus {
  outline: none;
}
