---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to Astro</h1>
    <p>
      Check out our <a href="/sketches/divination-editor">Divination Editor</a>
    </p>
    <p>
      View our <a href="/sketches/p5/1">P5.js Sketch</a>
    </p>
    <!-- ... other content ... -->
  </main>
</Layout>
