---
import "../styles/global.css";

interface Props {
  title: string;
  htmlClass?: string;
}

const { title, htmlClass } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class={htmlClass}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Minimal CodeMirror Editor" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="https://fav.farm/✨" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
