---
import Layout from "./Layout.astro";

interface Props {
  title: string;
  maxWidth?: string;
  maxHeight?: string;
  backgroundColor?: string; // New prop for background color
  aspectRatio?: string; // New prop for aspect ratio
}

const {
  title,
  maxWidth,
  maxHeight,
  backgroundColor = "bg-gray-900",
  aspectRatio = "aspect-square",
} = Astro.props;
---

<Layout title={title}>
  <main
    class={`w-full h-full flex flex-col items-center justify-center min-h-screen ${backgroundColor}`}
  >
    <div
      class={`flex-1 w-full h-full ${maxWidth} ${maxHeight} ${
        aspectRatio ?? ""
      }`}
    >
      <slot />
    </div>
  </main>
</Layout>
